{
  "extends": "google",
  "env": {
    "browser": true,
    "es6": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "max-len": ["error", {
      "code": 120
    }],
    "linebreak-style": "off",
    "require-jsdoc": "off",
    "indent": ["error", 4],
    "spaced-comment": "off"
  }
}