$transition:            all 0.3s ease;

$titleFont:             'Noto Serif';
$mainFont:              'PT Sans', sans-serif;

$titleFontSize:         42px;
$subtitleFontSize:      28px;
$largeFontSize:         18px;
$mediumFontSize:        16px;

$mediumLineHeight:      1.2;
$largerLineHeight:      1.5;

$whiteColor:            rgb(255, 255, 255);
$darkBlackTextColor:    rgb(30, 30, 30);
$lightBlackTextColor:   rgb(75, 75, 75);
$mainBrownColor:        rgb(105, 87, 65);
$brownBtnColor:         rgb(111, 91, 45);
$brownHoverBtnColor:    rgb(150, 132, 88);
$selectedBtnColor:      rgb(87, 87, 87);
$mainBorderColor:       rgb(228, 223, 210);
$hoverBorderColor:      rgb(255, 255, 255);
$selectedBorderColor:   rgb(215, 215, 215);
$lineColor:             rgb(218, 218, 218);

$screen-xs:             320px;
$screen-sm:             480px;
$screen-md:             768px;
$screen-lg:             992px;
$screen-xl:             1200px;