$transition:          all 0.3s ease;

$titleFont:           'Noto Serif';
$mainFont:            'PT Sans', sans-serif;

$titleFontSize:       42px;
$subtitleFontSize:    28px;
$largeFontSize:       18px;
$mediumFontSize:      16px;

$mediumLineHeight:    1.2;
$largerLineHeight:    1.5;

$whiteColor:          rgb(255, 255, 255);
$darkBlackTextColor:  rgb(30, 30, 30);
$lightBlackTextColor: rgb(75, 75, 75);
$brownColor:          rgb(112, 86, 61);
$brownHoverBtnColor:  rgb(112, 86, 61);
$lineColor:           rgb(211, 188, 143);

$screen-xs:           320px;
$screen-sm:           480px;
$screen-md:           768px;
$screen-lg:           992px;
$screen-xl:           1200px;