$transition:               all 0.3s ease;

$titleFont:                'Noto Serif';
$mainFont:                 'PT Sans', sans-serif;

$titleFontSize:            42px;
$maxSubtitleFontSize:      28px;
$minSubtitleFontSize:      26px;
$largeFontSize:            18px;
$mediumFontSize:           16px;

$mediumLineHeight:         1.2;
$largerLineHeight:         1.5;

$whiteColor:               #fff;
$darkBlackTextColor:       #1e1e1e;
$lightBlackTextColor:      #4b4b4b;
$mainBrownColor:           #70563d;
$selectedDarkBlackColor:   #a3a3a3;
$selectedLightBlackColor:  #909090;
$brownBtnColor:            #775b25;
$brownHoverBtnColor:       #9e8555;
$selectedBtnColor:         #bcbcbc;
$mainBorderColor:          #e7e0d3;
$hoverBorderColor:         #fff;
$selectedBorderColor:      #d8d8d8;
$lineColor:                #dbdbdb;

$screen-xs:                320px;
$screen-sm:                480px;
$screen-md:                767px;
$screen-lg:                991px;
$screen-xl:                1200px;
