* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

html {
  display: flex;
  flex-direction: column;
  width: 100%;
  scrollbar-width: none;
  overflow: -moz-scrollbars-none;
}

@font-face {
  font-family: 'PT Sans';
  src: url('fonts/PTSansRegular.woff2') format('woff2'), // ../theme/
       url('fonts/PTSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Serif';
  src: url('fonts/NotoSerifRegular.woff2') format('woff2'),
       url('fonts/NotoSerif.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
