.body {
  display: flex;
  flex-grow: 1;
  flex-basis: 100%;
  min-height: 100vh;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  cursor: default;
  overflow-y: auto;
  scrollbar-width: none; // Firefox;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;

  &::-webkit-scrollbar {
    display: none; // Safari and Chrome
  }

  &--background {
    background: url('../assets/bg-gradient.png') repeat-x;
  }

  @media (max-width: $screen-lg) {
    align-content: flex-start;
    min-height: 100%;
  }
}
