.body {
  display: flex;
  flex-grow: 1;
  flex-basis: 100%;
  min-height: 100vh;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;

  &--background {
    background: url('../assets/bg-gradient.png') repeat-x;
    background-size: cover;
  }
}
