@import "variables";

.button {
  display: block;
  min-height: 50px;
  min-width: 230px;
  font: $mediumFontSize $mainFont;
  color: $whiteColor;
  line-height: $largerLineHeight;

  &:hover {
    cursor: pointer;
    background-color: $brownHoverBtnColor;
  }

   &__card-room {
     margin-bottom: 50px;
  }

   &--free {
    background-color: $brownBtnColor;
  }

   &--selected {
    background-color: $selectedBtnColor;
  }
}
