@import "variables";

$heightSubtitle: calc(#{2*$subtitleFontSize*$mediumLineHeight});
$heightDiscription: calc(#{2*$mediumFontSize*$largerLineHeight});

.card-room {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 370px;
  min-width: 320px;
  width: 100%;
  background-color: $whiteColor;
  margin: 4px;

  @media (max-width: 767px) {
    margin: 4px 0;
  }

  &__img {
    min-height: 230px;
    max-width: 370px;
    width: 100%;
    z-index: 80;
  }

  &__motivator {
    display: none;
    margin: 10px;
    transition: $transition;
    -webkit-transition: $transition;
    -moz-transition: $transition;
  }

  .img-executive-suit {
    background: url("../assets/executive-suite.jpeg") no-repeat;
  }

  .img-duplex {
    background: url("../assets/duplex.jpeg") no-repeat;
  }

  .img-business-suit {
    background: url("../assets/business-suite.jpeg") no-repeat;
  }

  .img-executive-suit--selected {
    background: url("../assets/executive-suite-selected.jpeg") no-repeat;
    opacity: 0.5;
  }

  .img-duplex--selected {
    background: url("../assets/duplex-selected.jpeg") no-repeat;
    opacity: 0.5;
  }

  .img-business-suit--selected {
    background: url("../assets/business-suite-selected.jpeg") no-repeat;
    opacity: 0.5;
  }

  &__content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 354px;
    max-width: 360px;
    min-width: 310px;
    width: 100%;
    background-color: #fff;
    border-left: 5px solid #e4dfd2;
    border-right: 5px solid #e4dfd2;
    border-bottom: 5px solid #e4dfd2;

    @media (max-width: 767px) {
      height: 320px;
      width: auto;
    }
  }

  &__subtitle {
    color: $mainBrownColor;
    line-height: $mediumLineHeight;
    font: $subtitleFontSize $titleFont;
    min-height: $heightSubtitle;
    margin-top: 30px;
  }

  &__discription {
    color: $darkBlackTextColor;
    line-height: $largerLineHeight;
    font: $mediumFontSize $mainFont;
    min-height: 48px;
  }

  &__price {
    color: $lightBlackTextColor;
    line-height: $mediumLineHeight;
    font: $largeFontSize $titleFont;

    &:before {
      content: "";
      margin-bottom: 30px;
      background-color: $lineColor;
      display: block;
      height: 1px;

      @media (max-width: 767px) {
        margin-bottom: 20px;
      }
    }
  }

  &__value {
    color: $mainBrownColor;
  }

  &:not(.card-room--selected).card-room--motivator:hover > .card-room__img > .card-room__motivator {
    display: flex;
    z-index: 99;
  }

  &:not(.card-room--selected).card-room:hover > .card-room__content{
      border-color: $hoverBorderColor;
  }

  &--size-text {
    max-width: 310px;
    width: 100%;
    text-align: center;
  }

  &--selected > .card-room__content {
    opacity: 0.5;
  }

  &--selected > .card-room__content > .card-room__subtitle {
    color: $lightBlackTextColor;
  }

  &--selected > .card-room__content > .card-room__price > .card-room__value {
    color: $lightBlackTextColor;
  }
}
