$bg-color: pink;

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

html, body {
  min-height: 100vh;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  background: $bg-color;

  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.clear {
  clear: both;
}

.b-page-rooms-prices {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

 .b-page-rooms-prices__title {
   color: red;
   margin-bottom: 55px;
 }

 .b-page-rooms-prices__card-container {
   display: flex;

   .b-room-card {
     margin-right: 15px;

     &:last-child {
       margin-right: 0;
     }

     .b-room-card__img-container {
       width: 370px;
       height: 230px;

       .b-room-card__img {
         //background: url("../assets/room32.png") no-repeat;
         background-size: 80% auto;
       }

     }

     .b-room-card__subtitle {

     }

     .b-room-card__discription {

     }

     .b-room-card__price {

       .b-room-card__value {

       }
     }

     button {
       display: block;
       text-align: center;
       margin: 20px;
       min-height: 30px;
       min-width: 180px;
       padding: 8px;
       color: #fff;
       font-size: 19px;
       line-height: 32px;
       border: 1px solid #666;
       border-radius: 19px;
     }

     button:hover {
       cursor: pointer;
     }

     .button-normal {
       background-color: chocolate;
     }
   }
 }
}