@import 'mixins';
@import 'variables';

.rooms {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  width: 100%;
  max-width: 1172px;
  min-width: 320px;
  max-height: 699px;

  @media (max-width: 767px) {
    width: auto;
    height: auto;
  }

  &__title {
    color: $mainBrownColor;
    text-transform: uppercase;
    line-height: $mediumLineHeight;
    font: $titleFontSize $titleFont;
    margin-bottom: 70px;

    @media (max-width: 991px) {
      margin: 12px 0;
    }

    @media (max-width: 767px) {
      font-size: $subtitleFontSize;
    }
  }

  &__card-container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 100%;

    @media (max-width: 991px) {
      flex-flow: row wrap;
      justify-content: center;
    }

    @media (max-width: 767px) {
      flex-flow: column;
      align-items: center;
    }
  }
}
