@import 'mixins';
@import 'variables';

.rooms {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 699px;
  width: 1172px;

  &__title {
    color: $brownColor;
    text-transform: uppercase;
    line-height: $mediumLineHeight;
    font: $titleFontSize $titleFont;
  }

  &__card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    // @media (min-width: $screen-lg) { ... }
  }
}
